body{
	background-color: #84d2f2;
	text-align: center;
}


footer{
	background-color: black;
	width: 100%;
	height: auto;
	margin-top: 10px;
}
h1 {
	text-align: center;
  color: #b00007;
}
h2{
	color: lime;
}
h3{
	text-align: left;
	color: #b00007;
}
a{
font-family: 'helvetica neue', helvetica, sans-serif;
font-size: 25px;
        letter-spacing: 1px;
        line-height: 1; 
        text-align: center;
        border-radius: 2px double rgba(300,0,0,0.6);
        margin-left: 20px;
        margin-right: 1px;
        margin-top: 1;
        background: #84d2f2;
        color: #b00007;
        box-shadow: 6px 6px 0px rgba(0,200,0,0);
        padding: 3px 5px;
        display: inline;
        cursor: pointer;
        text-decoration: none;
}
p{
	font-size: 20px;
	color: blue;
	text-align: left;
}
nav{
	width: auto;
height: 75px;
background-color: #aeea65;
display: flex;
}
ul{
  margin-top: 1px;
    display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
li{
    margin-top: 10px;
    position: relative;
        list-style: none;
        background-color: #aeea65;
        float: left;
        text-align: center;
}

.CARRUSEL {
width: 100%;
height: 400px;
margin: 50px auto 0;
overflow: hidden;
}
.CARRUSEL ul {
display: flex;
padding: 0;
width: 400%;
animation: slide 20s infinite alternate ease-in-out;
}
.CARRUSEL li {
    width: 100%;
list-style: none;
position: relative;
}
.CARRUSEL img{
    width: 100%;
    height: 350px;
}
@keyframes slide{
    0% {margin-left: 0;}
     20% {margin-left: 0;}

      25% {margin-left: -100%;} 
      45% {margin-left: -100%;} 

      50% {margin-left: -200%;} 
      70% {margin-left: -200%;} 

       75% {margin-left: -300%;} 
      100% {margin-left: -300%;} 
}

main{
	height: auto;
	width: 100% ;
	background-color: #aeea65;
	margin-top: 20px;
    display: block; 
    justify-content: center;
  align-items: center;
  text-align:center;
}
.SECCION3{
	background-color: #84d2f2;
     width: 450px;
  height: 500px;
 margin-left: 40px;
  margin-top: 20px;
  display: inline-block;
  justify-content: center;
  align-items: center;
    float: none;
    text-align:center;
    padding: 10px 10px;
	}
	.SECCION1{
	background-image: url(IMG/foto1.jpeg);
    background-size: cover;
     width: 450px;
  height: 500px;
 margin-left: 40px;
  margin-top: 20px;
  display: inline-block;
  justify-content: center;
  align-items: center;
    float: none;
    text-align:center;
    padding: 10px 10px;
	}
	.SECCION2{
	background-image: url(IMG/foto2.jpeg);
    background-size: cover;
     width: 450px;
  height: 500px;
 margin-left: 40px;
  margin-top: 20px;
  display: inline-block;
  justify-content: center;
  align-items: center;
    float: none;
    text-align:center;
    padding: 10px 10px;
	}
	.SECCION4{
	  background-color: #84d2f2;
    background-size: cover;
     width: 450px;
  height: 500px;
 margin-left: 40px;
  margin-top: 20px;
  display: inline-block;
  justify-content: center;
  align-items: center;
    float: none;
    text-align:center;
    padding: 10px 10px;
	}
	.SECCION5{
	  background-image: url(IMG/foto3.jpeg);
    background-size: cover;
     width: 450px;
  height: 500px;
 margin-left: 40px;
  margin-top: 20px;
  display: inline-block;
  justify-content: center;
  align-items: center;
    float: none;
    text-align:center;
    padding: 10px 10px;
	}
  @media (max-width: 1200px) {
    .SECCION1{
      width: 700px;
  height: 800px;
    }
    .SECCION2{
      width: 700px;
  height: 800px;
    }
    .SECCION3{
      width: 700px;
  height: 800px;
    }
    .SECCION4{
      width: 700px;
  height: 800px;
    }
    .SECCION5{
      width: 700px;
  height: 800px;
    }
    a{
      font-size: 55px;
    }
    h3{
     font-size: 35px;
    }
    h2{
      font-size: 35px;
    }
    p{
    font-size: 35px;
    }
    iframe{
      width: 600px;
      height: 575px;
    }
    nav{
      height: 85px;
    }
}